{% extends "accounts/base.html" %}
{% block title %}Create an account{% endblock %}

{% block card_content %}
<h3 class="card-title text-center mb-5 fw-light">Create an account</h3>
{% if form.non_field_errors %}
<div class="alert alert-danger">
    {% for error in form.non_field_errors %}
    <div><small>{{ error|escape }}</small></div>
    {% endfor %}
</div>
{% endif %}

<form method="post" action="">
    {% csrf_token %}
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInputUsername" placeholder="email"
               required autofocus name="email" value="{{ form.email.value|default_if_none:''}}">
        <label for="floatingInputUsername">Email</label>
        {% include 'accounts/form_field_error.html' with errors=form.email.errors %}
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
               name="password1" required>
        <label for="floatingPassword">Password</label>
        {% include 'accounts/form_field_error.html' with errors=form.password1.errors %}
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPassword2" placeholder="Password"
               name="password2" required>
        <label for="floatingPassword2">Retype Password</label>
        {% include 'accounts/form_field_error.html' with errors=form.password2.errors %}
    </div>
    <div class="d-grid mb-2">
        <button class="btn btn-primary btn-login" type="submit">Submit</button>
    </div>
    <a class="d-block text-center mt-2 small" href="/accounts/login">Already have an account? Sign In</a>
</form>
{% endblock %}